.style-select {
    & label {
        display: block;
        margin-bottom: .75rem;
        font: var(--body-sm);
        color: var(--text-body);
    }

    .check-btn {

        & .check-field {
            position: relative;
            align-items: center;
            gap: .75rem;

            & label {
                content: "Escuro";
                margin: 0;

                &#light {
                    display: none;
                }
            }

            & input {
                position: absolute;
                inset: 0;
                opacity: 0;
                cursor: pointer;
            }

            & span {
                background: url(/assets/icons/check-dark.svg);
                width: 4rem;
                height: 2rem;
            }

            &:has(:checked) {
                & span {
                    background: url(/assets/icons/check-light.svg);
                }

                & label {
                    &#dark {
                        display: none;
                    }
                    &#light {
                        display: flex;
                    }
                }
            }
        }
    }
}

.terms-event {
    padding-top: 2.5rem;

    .terms-field {
        gap: .75rem;
        align-items: center;

        position: relative;

        & input {
            position: absolute;
            opacity: 0;
            width: 1.25rem;
            height: 1.24rem;
            cursor: pointer;
        }

         

        & label {
            font: var(--body-sm);
            color: var(--text-body);

            a {
                color: var(--brand-light);
                font-weight: 600;
            }
        }

        & span {
            background-image: url(../../assets/icons/checkbox-default.svg);
            width: 1.25rem;
            height: 1.25rem;
        }

        &:has(:checked) {
            & span {
                background-image: url(../../assets/icons/checkbox-checked.svg);
            }
        }       
    }
}