.in-field {
    & label {
        display: block;
        margin-bottom: .75rem;
        font: var(--body-sm);
        color: var(--text-body);
    }

    & input {
        appearance: none;
        width: 100%;
        padding: .8125rem 1rem;
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;

        font: var(--body-md);
        color: var(--input-placeholder);
        background-color: var(--input-base);

        &:focus-within {
            outline: none;
            border: 1px solid var(--brand-light);
        }

        &:focus:invalid {
            border-color: var(--danger);
            + .error {
                display: flex;
            }
        }
    }

    & input[type="datetime-local"] {
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 2rem var(--input-base) inset ;
    -webkit-text-fill-color: var(--input-placeholder) ;
}