.in-field {
    & label {
        display: block;
        margin-bottom: .75rem;
        font: var(--body-sm);
        color: var(--text-body);
    }

    & input {
        appearance: none;
        width: 100%;
        padding: .8125rem 1rem;
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;

        font: var(--body-md);
        color: var(--input-placeholder);
        background-color: var(--input-base);

        &:focus-within {
            outline: none;
            border: 1px solid var(--brand-light);
        }
    }

    & input[type="datetime-local"] {
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }
}